In [3]:
import pandas as pd

In [5]:
from pandas.io.json import json_normalize

import json
import time

In [19]:
fileLocation = "D:\\X-sign\\Broadcast\\git\\xsign_broadcast"
fileNM = "\\xs_schedule_head.csv"

In [55]:
schedule_head_df = pd.read_csv(fileLocation+fileNM,orient='index')

TypeError: parser_f() got an unexpected keyword argument 'orient'

In [49]:
schedule_head_df.dtypes

description    object
dtype: object

In [43]:
schedule_head_df.head()

                                         description
0  {"id":"1721","for_tag":"1","type":"1","content...
1  {"id":"1","for_tag":"1","type":"1","content_ty...
2  {"id":"1720","for_tag":"1","type":"1","content...
3  {"id":"1720","for_tag":"1","type":"1","content...
4  {"id":"1725","for_tag":"1","type":"1","content...

In [40]:
schedule_head_df[0:2]

                                         description
0  {"id":"1721","for_tag":"1","type":"1","content...
1  {"id":"1","for_tag":"1","type":"1","content_ty...

In [92]:
setData = json.loads(str(schedule_head_df['description'][0]))

In [94]:
schedule_df = json_normalize(setData)

In [95]:
schedule_df

,content_type,for_tag,id,name,play_mode,play_time,play_time_unit,select_style_id,style,style_name,text_content,type
0,1,1,1721,222,1,10,i,3419,"{""font_size"":2,""font_color"":""#ff0000"",""text_al...",ifp.style_1,666,1

In [96]:
for i in range(1,len(schedule_head_df)):
    data = json_normalize(json.loads(str(schedule_head_df['description'][i])))
    schedule_df = pd.concat([schedule_df,data], axis=0, ignore_index=True)

In [98]:
schedule_df.dtypes

all_day                object
close_date             object
close_time_h           object
close_time_i           object
close_time_s           object
content_type           object
cycle                  object
cycle_day              object
cycle_week             object
duration              float64
for_tag                object
id                     object
is_live                object
link                   object
lite_archives_id       object
lite_archives_name     object
name                   object
one_play               object
open_date              object
open_loop              object
open_time_h            object
open_time_i            object
open_time_s            object
play_mode             float64
play_speed             object
play_time              object
play_time_h            object
play_time_i            object
play_time_s            object
play_time_unit         object
schedule_head_id       object
select_style_id        object
source                 object
start                 float64
style                  object
style_name             object
text_content           object
thumbnail              object
type                   object
video_id               object
video_source           object
video_title            object
week                   object
dtype: object

In [99]:
schedule_df.to_excel("D:\\X-sign\\Broadcast\\git\\xsign_broadcast\\schedule_df.xlsx")